    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    }
    
    body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(red, green, blue);
    }
/* 
  .container {
    min-width: 250px;
  } */

  .box {
    width: 500px;
    background: black;
    border-radius: 12px;
    text-align: center;
    box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.5);

  }


  h1 {
    color: cadetblue;
    font-weight: bold;
    font-size: 36px;
    padding: 30px 0;
    
  }


    
    .content {
        padding: 0 30px;
        
    }
    
    .input {
        background:whitesmoke;
        box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 20px 0;
        margin-bottom: 20px;
    }

    
    .input label {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
    }
    .input input {
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        width: 50%;
        text-align: center;
        font-size: 28px;
        font-family: "Nunito", sans-serif;
    }


    
    .inputW {
      background: #fff;
      box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
      border-radius: 12px;
      padding: 10px 0;
      margin-bottom: 20px;
  }
  
  
  .inputW label {
      display: block;
      font-size: 18px;
      font-weight: 600;
      color: #000;
      margin-bottom: 20px;
  }
  .inputW input {
      outline: none;
      border: none;
      border-bottom: 1px solid #000000;
      width: 50%;
      text-align: center;
      font-size: 28px;
      font-family: "Nunito", sans-serif;
  }
  
  .inputA {
      background: #fff;
      box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
      border-radius: 12px;
      padding: 10px 0;
      margin-bottom: 20px;
  }
  
  
  .inputA label {
      display: block;
      font-size: 18px;
      font-weight: 600;
      color: #000;
      margin-bottom: 20px;
  }
  .inputA input {
      outline: none;
      border: none;
      border-bottom: 1px solid #000000;
      width: 50%;
      text-align: center;
      font-size: 28px;
      font-family: "Nunito", sans-serif;
  }
  
  
  .inputH {
      background: #fff;
      box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
      border-radius: 12px;
      padding: 10px 0;
      margin-bottom: 20px;
  }
  
  
  .inputH label {
      display: block;
      font-size: 18px;
      font-weight: 600;
      color: #000;
      margin-bottom: 20px;
  }
  .inputH input {
      outline: none;
      border: none;
      border-bottom: 1px solid #000000;
      width: 50%;
      text-align: center;
      font-size: 28px;
      font-family: "Nunito", sans-serif;
  }
  

  
button.calculate {
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    color: black;
    background: white;
    font-size: 16px;
    border-radius: 7px;
    padding: 12px 0;
    margin-bottom: 10px;
    width: 100%;
    outline: none;
    border: none;
    transition: all 0.5s;
  }
  button.calculate:hover {
    background: cadetblue;
  }

  button.reset {
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    color:black;
    background: white;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 0;
    width: 50%;
    outline: none;
    border: 10px ;
    transition: all 0.5s;
    }
    button.reset:hover {
    background:cadetblue;
    }


  
  
.result {
    padding: 10px 20px;
  }
  .result p {
    font-weight: 600;
    font-size: 22px;
    color: white;
    margin-bottom: 15px;
  }
  .result #result {
    font-size: 36px;
    font-weight: 900;
    color:black;
    background-color: #eaeaea;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 0px;
    margin-bottom: 25px;
  }
  #comment {
    color: cadetblue;
    font-weight: 800;
  }

.comment {
    display: none;
    border: dashed 1px;
    border-radius: 7px;
    padding: 5px;
}

.footer {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 15px
}

.footer-text {
    text-decoration:none;
    color: cadetblue;
    font-family:sans-serif;
    font-weight: 200;
    font-size: 14px;
    transition: all 0.5;
}

.footer-text:hover {
    color: rgba(40, 40, 40, 1);
}

.gender {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background: #fff;
    box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 20px 0;
    margin-bottom: 20px;
}

  /* Style Radio */
.gender .container {
    display: block;
    position: relative;
    padding-left: 35px;

    /* margin-bottom: 12px; */
    margin-top: 7px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide radio button */
  .gender .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* custom radio  */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* bg color radio */
  .gender .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* when checked 1 */
  .gender .container input:checked ~ .checkmark {
    background-color: cadetblue;
  }
  
  /* not checked */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* when checked 2 */
  .gender .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* dot radio */
  .gender .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: black;
  }
  /* END Style for Radio */

.containerHW {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  












